.b-table{
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    margin: 1rem 2rem;
    &__header{
        background-color: lightskyblue;
        color: white;
        padding: 1rem;
        &--mod{
            background-color: lightyellow;
        }
        &--del{
            background-color: lightcoral;
        }
        &--shw{
            background-color: lightpink;
        }
    }
    &__img{
        width: 100px;
        object-fit: cover;
    }
    &__content{
        word-wrap: normal;
    }

}