.b-table{
    &__content{
       max-width: 800px;
        word-wrap: normal;
    }
       
    
    &__img{
        width: 100px;
        object-fit: cover;
    }
    &__icon{
        font-size: 1.2rem;
        padding: 1rem;
        cursor:pointer;

        &--mod{
            color: blue;
        }
        &--del{
            color: red;

        }
        &--dtl{
            color:green;
        }
    }
}