.b-table{
    display: flex;
    justify-content: center;
    margin-top:2rem;
   
    &__headcontainer{
        border-top-left-radius: 80px 10px;
        background-color: #9bccab;
    }
    &__container{
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.295);
        margin: 1rem 2rem;
        background-color: white;

    }
    &__row{
        border-bottom: 1px solid lightgray;
    }
    &__header{
        
        color: white;
        padding: 1rem;
        font-size: 1.1rem;
        min-width: 150px;
        &--mod{
            background-color: lightyellow;
        }
        &--del{
            background-color: lightcoral;
        }
        &--shw{
            background-color: lightpink;
        }
    }
    
}
.b-professor__title{
    display:flex;
    justify-content: center;
    margin-top: 1rem;
}